<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newsleep="{{hasEaten}}">
		{{#if eatenBurger}}You ate the burger!{{else}}Burgers to be Eaten{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>